.form_container {
	width: 20%;
	height: 65%;
	background-color: #00000080;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	h1{
		padding: 0;
		margin: 0;
		margin-bottom: 13px;
	}

}

.css-o943dk-MuiFormLabel-root-MuiInputLabel-root, .css-cio0x1-MuiInputBase-root-MuiFilledInput-root::before, .css-e4w4as-MuiFormLabel-root-MuiInputLabel-root, .css-10botns-MuiInputBase-input-MuiFilledInput-input {
	border-bottom-color: rgba(235, 235, 235, 0.42) !important;
	color: azure !important;
	:-webkit-autofill {
		color: #2a2a2a !important;
	}
}

.MuiButton-root {
	background-color: #08010cc4 !important;
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
	color:white !important;
	border-color: azure !important;
	margin-top: 35px;
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root :focus{
	color:white !important;
	border-color: azure !important;
	margin-top: 35px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 50000s ease-in-out 0s;
	-webkit-text-fill-color: white !important
}
