@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,100&display=swap');
.cart-container {
    width: 25%;
    min-height: 40%;
    margin-top: 20px;
    padding: 7px;
    border: #F7F7F7;
    border-radius: 7%;
    background-color: #adacc5de;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 33%;
    z-index: -1;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    .temperature-value {
        font-size: 35px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
    }
    .country-value {
        letter-spacing: 2px;
        margin: 3px 0px;
        font-size: 33px;
    }
    h2 {
        margin: 0;
    }
    img {
        width: 95px;
        height: 95px;
        margin: 0;
    }
}
.temperatures-container {
    text-align: center;
}
.temperature-max-min {
    display: inline;
    margin: 0px 4px 0px 4px;
}

.wind_and_humidity-icons{
    display: flex;
    div{
        display: flex;
        align-items: center;
        margin: 5px 10px;
        img{
            width: 30px;
            height: 30px;
            margin-right: 2px;
        }
    }
}

.loader-weatherRequest{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto
}

@media screen and (max-width: 767px) {

    .cart-container{
        width: 75%;
        margin-top: 20%;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    
    .cart-container{
        width: 40%;
        //bottom: 110px;
    }

}