@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,100&display=swap');
.cart-container {
    width: 25%;
    height: 60%;
    margin-top: 20px;
    padding: 7px;
    border: #F7F7F7;
    border-radius: 7%;
    background-color: #adacc5de;
    display: flex;
    flex-direction: column;
    align-items: center;
    .temperature-value {
        font-size: 35px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
    }
    .country-value {
        letter-spacing: 2px;
        margin: 3px 0px;
        font-size: 33px;
    }
    h2 {
        margin: 0;
    }
    img {
        width: 95px;
        height: 95px;
        margin: 0;
    }
}
.temperatures-container {
    text-align: center;
}
.temperature-max-min {
    display: inline;
    margin: 0px 4px 0px 4px;
}